<div fxLayout="column" fxFlex [class]="activeTheme">

  <md-toolbar color="primary">
    <button md-icon-button (click)="mainSideNav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <span>{{title}}</span>
    <span fxFlex></span>

    <button md-icon-button [mdMenuTriggerFor]="themeMenu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>

  <md-sidenav-container fxFlex>
    <md-sidenav mode="push" #mainSideNav>

      <md-nav-list>
        <a md-list-item routerLink="/dashboard" routerLinkActive="active">
          <md-icon md-list-icon>dashboard</md-icon>
          <span>Dashboard</span>
        </a>
        <a md-list-item routerLink="/heroes" routerLinkActive="active">
          <md-icon md-list-icon>flash_on</md-icon>
          <span>Heroes</span>
        </a>
      </md-nav-list>

    </md-sidenav>
    <div class="content">

      <router-outlet></router-outlet>

    </div>
  </md-sidenav-container>

  <md-menu #themeMenu x-position="before">
    <button md-menu-item (click)="activeTheme = ''">Regular Hero</button>
    <button md-menu-item (click)="activeTheme = 'darkside-hero-theme'">Darkside Hero</button>
    <button md-menu-item (click)="activeTheme = 'baby-hero-theme'">Baby Hero</button>
  </md-menu>

</div>
